
<div class="container">
  <div class="container">
      <!-- Trigger the modal with a button -->
      <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">להתחברות</button>
    
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
                <form action="https://www.w3schools.com/action_page.php">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
        <button class="btn btn-default">Submit</button>
      </form>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  <h2>hello to our dreamsDwelling</h2>
  <h3>here you can find the perfect apartment!!!</h3>
</div>



