div{
    height: 150px;
    background-color: #10c6ea;
    // overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: flex-end;

}
img{

    height: 150px;
    direction: ltr;
    display: flex;
    

}