h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
    color: #03a9bf;
    font-style: unset;
    

}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;

}
button {
    margin: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 150px;
    padding: 12px;
    background-color: white;

    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid 2px black;
  }