<br>
<form>
    <div class="f">
        <h3 style="    font-size: 60px;
        font-family: Cursive;
        color: #03a9bf;">write your book name and tell us how much you enjoied...</h3>
    <p>  
        <input  [(ngModel)] = 'bookName' type="text" name="degree" id = "dgree1"><label></label>
        <br>
        <br>
    <button (click) = "love(1)">לא אהבתי</button>
    <button (click) = "love(2)">אהבתי</button>
    <button (click) = "love(3)">אהבתי במיוחד</button>
    <br>
    <div style="height: 5px;"></div>
    <button  (click) = "change('home')">thanks!<img [src]="imgPath"></button>
   
  
   
    <br>
    
<div></div>
</div>
