<app-navbar>
  <a (click)="onClick('/login')">Login</a>
  <a (click)="onClick('/information')">About Our Company</a>
  <a (click)="onClick('/service')">Our Services</a>
</app-navbar>

<h1> The City Library</h1>

<div class="login-container">
  <div class="login-box" style="border: 5px solid crimson; border-radius: 10px; padding: 10px; margin: 10px;">
    <img [src]="imgA" style="width: 100%; border-radius: 10px;">
    <h1 style="color: crimson;" class="w">The New Book!</h1>
  </div>
  <div class="login-box" style="border: 5px solid rgb(19, 232, 37); border-radius: 10px; padding: 10px; margin: 10px;">
    <img [src]="imgCha" style="width: 100%; border-radius: 10px;">
    <h1 style="color: rgb(19, 232, 37);" class="w">The New Book!</h1>
  </div>
  <div class="login-box" style="border: 5px solid rgb(164, 77, 94); border-radius: 10px; padding: 10px; margin: 10px;">
    <img [src]="imgSS" style="width: 100%; border-radius: 10px;">
    <h1 style="color: rgb(164, 77, 94);" class="w">The New Book!</h1>
  </div>
  <div class="login-box" style="border: 5px solid rgb(205, 164, 29); border-radius: 10px; padding: 10px; margin: 10px;">
    <img [src]="imgF" style="width: 100%; border-radius: 10px;">
    <h1 style="color: rgb(205, 164, 29);" class="w">The New Book!</h1>
  </div>
  <div class="login-box" style="border: 5px solid rgb(29, 161, 205); border-radius: 10px; padding: 10px; margin: 10px;">
    <img [src]="imgTa" style="width: 100%; border-radius: 10px;">
    <h1 style="color: rgb(29, 161, 205);" class="w">The New Book!</h1>
  </div>
</div>